<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="home">Angular & Express</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="nav-item active">
          <a routerLink="home" class="nav-link">Home</a>
      </li>
      <li routerLinkActive="nav-item active">
          <a routerLink="post" class="nav-link">Post</a>
      </li>
    </ul>
  </div>  
</nav>
<main role="main" class="container">
    <router-outlet></router-outlet>
</main>
